<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.ues.fia.eisi.grupo06tarea1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MateriaCiclo_Eliminar"></activity>
        <activity android:name=".MateriaCiclo_Actualizar" />
        <activity android:name=".MateriaCiclo_Consultar" />
        <activity android:name=".MateriaCiclo_Insertar" />
        <activity android:name=".MateriaCiclo" />
        <activity android:name=".Evaluaciones_Eliminar" />
        <activity android:name=".Evaluaciones_Actualizar" />
        <activity android:name=".Evaluaciones_Consultar" />
        <activity android:name=".Evaluaciones_Insertar" />
        <activity android:name=".Parametros_Eliminar" />
        <activity android:name=".Parametros_Actualizar" />
        <activity android:name=".Parametros_Consultar" />
        <activity android:name=".Parametros_Insertar" />
        <activity android:name=".MenuMateriaCiclo" />
        <activity android:name=".MenuEvaluaciones" />
        <activity android:name=".MenuParametros" />
        <activity android:name=".MenuZT12002" />
        <activity android:name=".MenuPrimeraRevision" />
        <activity android:name=".MenuDetallePrimeraRevision" />
        <activity android:name=".MenuSolicitudSegundaRevision" />
        <activity android:name=".MenuCh15013" />
        <activity android:name=".SolicitudImpresion_Eliminar" />
        <activity android:name=".SolicitudImpresion_Consultar" />
        <activity android:name=".SolicitudImpresion_Actualizar" />
        <activity android:name=".SolicitudImpresion_Insertar" />
        <activity android:name=".MenuSolicitudImpresion" />
        <activity android:name=".SolicitudPrimerRevision_Eliminar" />
        <activity android:name=".SolicitudPrimerRevision_Actualizar" />
        <activity android:name=".SolicitudPrimerRevision_Consultar" />
        <activity android:name=".SolicitudPrimerRevision_Insertar" />
        <activity android:name=".SolicitudSegundaRevision_Insertar" />
        <activity android:name=".SolicitudSegundaRevision_Actualizar" />
        <activity android:name=".SolicitudSegundaRevision_Consultar" />
        <activity android:name=".SolicitudSegundaRevision_Eliminar" />
        <activity android:name=".MenuSolicitudPrimerRevision" />
        <activity android:name=".MenuTipoSolicitud" />
        <activity android:name=".MenuSolicitudEvaluacion" />
        <activity android:name=".MenuSolicitudDiferidoRepetido" />
        <activity android:name=".MenuDetalleSegundaRevision" />
        <activity android:name=".MenuDiasNoHabiles" />
        <activity android:name=".NotasEstudianteEvaluacion_Eliminar" />
        <activity android:name=".NotasEstudianteEvaluacion_Actualizar" />
        <activity android:name=".NotasEstudianteEvaluacion_Consultar" />
        <activity android:name=".NotasEstudianteEvaluacion_Insertar" />
        <activity android:name=".MenuNotasEstudianteEvaluacion" />
        <activity android:name=".MenuCs16008" />
        <activity android:name=".MenuSegundaRevision" />
        <activity android:name=".MenuVd16006" />
        <activity android:name=".MenuGc16001" />
        <activity android:name=".MenuCarnet" />
        <activity android:name=".DetalleSegundaRevision_Eliminar" />
        <activity android:name=".DetalleSegundaRevision_Consultar" />
        <activity android:name=".DetalleSegundaRevision_Insertar" />
        <activity android:name=".DetalleSegundaRevision_Actualizar" />
        <activity android:name=".DiasNoHabiles_Eliminar" />
        <activity android:name=".DiasNoHabiles_Actualizar" />
        <activity android:name=".DiasNoHabiles_Consultar" />
        <activity android:name=".DiasNoHabiles_Insertar" />
        <activity android:name=".SegundaRevision_Eliminar" />
        <activity android:name=".SegundaRevision_Actualizar" />
        <activity android:name=".SegundaRevision_Consultar" />
        <activity android:name=".SegundaRevision_Insertar" />
        <activity android:name=".SolicitudEvaluacion_Eliminar" />
        <activity android:name=".SolicitudEvaluacion_Consultar" />
        <activity android:name=".SolicitudEvaluacion_Actualizar" />
        <activity android:name=".SolicitudEvaluacion_Insertar" />
        <activity android:name=".TipoSolicitud_Eliminar" />
        <activity android:name=".TipoSolicitud_Actualizar" />
        <activity android:name=".TipoSolicitud_Consultar" />
        <activity android:name=".TipoSolicitud_Insertar" />
        <activity android:name=".Solicitud_DiferidoRepetido_Actualizar" />
        <activity android:name=".Solicitud_DiferidoRepetido_Eliminar" />
        <activity android:name=".Solicitud_DiferidoRepetido_Consultar" />
        <activity android:name=".Solicitud_Repetido_Insertar" />
        <activity android:name=".Solicitud_Diferido_Insertar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>